{%- paginate blog.articles by blog.articles_count -%}
<section class="blog">
  <div class="page-title">
    <h1>{{ blog.title | escape }}</h1>
  </div>
  <div class="container-fluid">
    <div class="blog-inner">
      <div class="blogs-main">
        <div class="card-grid">
          {%- for article in blog.articles -%}
            <div class="blog-card d-flex flex-row">
              {%- render 'article-card',
                article: article
              -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>
{%- endpaginate -%}