<div class="d-flex flex-column py-5 justify-content-center align-items-center">
  <h1 class="mb-3 display-1 align-top border-right">404</h1>
  <h2 class="display-4">The page you requested was not found.</h2>
  <p>Please try using our search to find the right page</p>
</div>
